.heading
{
width: 100%;
text-align: left;
}
.heading h3{
    display: inline;
}

.heading button{
    float: right;
    border: 1px solid white;
}
.botton{
    font-size:25px;
}
h4
{
   background-color: #f5f5f5;
   line-height: 2;
   margin: 0px;
   width:90%;
   position:absolute;
   bottom:0;
}
canvas{
color:#f5f5f5;
}